@import "tailwindcss";
/* Local Font Declarations */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeueThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeueUltraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeueRoman.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@theme {
  /* Dark shades */
  --color-dark-900: #111111;
  --color-dark-700: #757575;
  --color-dark-500: #aaaaaa;

  /* Light shades */
  --color-light-100: #ffffff;
  --color-light-200: #f5f5f5;
  --color-light-300: #e5e5e5;
  --color-light-400: #cccccc;

  /* Supporting colors */
  --color-green: #007d48;
  --color-red: #d33918;
  --color-orange: #d37918;

  /* Font family */
  --font-jost: "Jost", sans-serif;
  --font-helvetica-neue: "HelveticaNeue", sans-serif;

  /* Heading sizes */
  --text-heading-1: 72px;
  --text-heading-1--line-height: 78px;
  --text-heading-1--font-weight: 700;

  --text-heading-2: 56px;
  --text-heading-2--line-height: 60px;
  --text-heading-2--font-weight: 700;

  --text-heading-3: 24px;
  --text-heading-3--line-height: 30px;
  --text-heading-3--font-weight: 500;

  /* Lead */
  --text-lead: 20px;
  --text-lead--line-height: 28px;
  --text-lead--font-weight: 500;

  /* Body */
  --text-body: 16px;
  --text-body--line-height: 24px;
  --text-body--font-weight: 400;

  --text-body-medium: 16px;
  --text-body-medium--line-height: 24px;
  --text-body-medium--font-weight: 500;

  /* Caption */
  --text-caption: 14px;
  --text-caption--line-height: 20px;
  --text-caption--font-weight: 500;

  /* Footnote */
  --text-footnote: 12px;
  --text-footnote--line-height: 18px;
  --text-footnote--font-weight: 400;
}
